<div class="container h-100 d-flex flex-column justify-content-between justify-content-md-start" *ngIf="transaction">
  <div>
    <h1>Payment Received</h1>
    <p>Your points have been received.</p>
  </div>
  <div class="d-flex flex-column align-items-center mb-3">
    <div class="success-checkmark">
      <div class="check-icon">
        <span class="icon-line line-tip"></span>
        <span class="icon-line line-long"></span>
        <div class="icon-circle"></div>
        <div class="icon-fix"></div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center">
      <span class="d-block text-muted">Success</span>
      <span class="d-block fs-4">{{ transaction.amount * -1 | number }} pts</span>
    </div>
  </div>
  <div>
    <ul class="list-group border-0 mb-3 w-100">
      <li class="list-group-item list-group-item-secondary d-flex border-0 justify-content-between">
        <div class="me-auto text-muted">
          <ng-container *ngIf="isPositive(transaction.amount); else notPositive">Paid from</ng-container>
          <ng-template #notPositive>Paid to</ng-template>
        </div>
        <span class="fst-italic">Private</span>
      </li>
      <li class="list-group-item list-group-item-secondary d-flex border-0 justify-content-between">
        <div class="me-auto text-muted">
          Amount
        </div>
        <span [class.text-success]="isPositive(transaction.amount)"
              [class.text-danger]="!isPositive(transaction.amount)">{{ transaction.amount * -1 | number }} pts</span>
      </li>
      <li class="list-group-item list-group-item-secondary d-flex border-0 justify-content-between">
        <div class="me-auto text-muted">
          Status
        </div>
        <span>
          <ng-container *ngIf="transaction.status; else notPositive">Completed</ng-container>
          <ng-template #notPositive>Incomplete</ng-template>
        </span>
      </li>
      <li class="list-group-item list-group-item-secondary d-flex border-0 justify-content-between">
        <div class="me-auto text-muted">
          Date
        </div>
        <span>{{ transaction.createdOn | date: "medium" }}</span>
      </li>
    </ul>
  </div>
  <div class="d-grid text-center mb-3">
    <button type="submit" class="btn btn-primary border-0" [routerLink]="['/']">Done</button>
  </div>
</div>
