<div class="d-flex align-items-center justify-content-center h-100">
  <div class="container flex-md-grow-0 flex-fill w-25">
    <h1 class="text-dark">Create an Account</h1>
    <s-app-alert alertType="danger" [visible]="false" #alertComponent></s-app-alert>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-floating mb-3">
        <input type="email" class="form-control border border-light-subtle shadow-sm" id="email" placeholder="user@example.com" [class.is-invalid]="(email.dirty || email.touched) && email.errors" formControlName="email">
        <ng-container *ngIf="(email.dirty || email.touched) && email.errors; else emailLabel">
          <label for="email" *ngIf="email.getError('required')">Email required</label>
          <label for="email" *ngIf="email.getError('email')">Email format invalid</label>
        </ng-container>
        <ng-template #emailLabel>
          <label for="email">Email</label>
        </ng-template>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control border border-light-subtle shadow-sm" id="displayName" placeholder="user" [class.is-invalid]="(displayName.dirty || displayName.touched) && displayName.errors" formControlName="displayName">
        <ng-container *ngIf="(displayName.dirty || displayName.touched) && displayName.errors; else displayNameLabel">
          <label for="displayName" *ngIf="displayName.getError('required')">Display name required</label>
        </ng-container>
        <ng-template #displayNameLabel>
          <label for="displayName">Display Name</label>
        </ng-template>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control border border-light-subtle shadow-sm" id="password" placeholder="password" [class.is-invalid]="(password.dirty || password.touched) && (password.errors || ((passwordConfirm.dirty || passwordConfirm.touched) && registerForm.hasError('passwordsDoNotMatch')))" formControlName="password">
        <ng-container *ngIf="(password.dirty || password.touched) && (password.errors || ((passwordConfirm.dirty || passwordConfirm.touched) && registerForm.hasError('passwordsDoNotMatch'))); else passwordLabel">
          <label for="password" *ngIf="password.getError('required')">Password required</label>
          <label for="passwordConfirm" *ngIf="(passwordConfirm.dirty || passwordConfirm.touched) && registerForm.getError('passwordsDoNotMatch')">Passwords do not match</label>
        </ng-container>
        <ng-template #passwordLabel>
          <label for="password">Password</label>
        </ng-template>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control border border-light-subtle shadow-sm" id="passwordConfirm" placeholder="password" [class.is-invalid]="(passwordConfirm.dirty || passwordConfirm.touched) && (passwordConfirm.errors || registerForm.hasError('passwordsDoNotMatch'))" formControlName="passwordConfirm">
        <ng-container *ngIf="(passwordConfirm.dirty || passwordConfirm.touched) && (passwordConfirm.errors || registerForm.hasError('passwordsDoNotMatch')); else passwordConfirmLabel">
          <label for="passwordConfirm" *ngIf="passwordConfirm.getError('required')">Password required</label>
          <label for="passwordConfirm" *ngIf="registerForm.getError('passwordsDoNotMatch')">Passwords do not match</label>
        </ng-container>
        <ng-template #passwordConfirmLabel>
          <label for="passwordConfirm">Password confirm</label>
        </ng-template>
      </div>
      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-dark btn-lg shadow-sm" [disabled]="registerForm.invalid">Register</button>
      </div>
    </form>
  </div>
</div>
