<div class="container" *ngIf="cards">
  <div class="d-flex align-items-center justify-content-between mb-2" routerLink="/wallet">
    <h1 class="mb-0">Cards</h1>
    <button type="button" class="btn-close d-block d-md-none" aria-label="Close"></button>
  </div>
    <div class="mb-3">
        <s-app-card-list-group [cards]="cards"></s-app-card-list-group>
    </div>
    <s-app-pagination [page]="page" [dataLength]="cards.length" [dataLimit]="limit" (pageChanged)="getCardsByUserId($event)"></s-app-pagination>
</div>
