Dockerfile

zapit-frontend/Dockerfile
zapit-frontend/.angular/
zapit-frontend/.idea/
zapit-frontend/.vscode/
zapit-frontend/dist/
zapit-frontend/node_modules/
zapit-frontend/README.md

zapit-backend/Dockerfile
zapit-backend/.idea/
zapit-backend/target/
zapit-backend/.gitignore
zapit-backend/HELP.md
zapit-backend/mvnw.cmd
zapit-backend/README.md
zapit-backend/src/main/resources/application.properties
zapit-backend/src/main/resources/application.properties.example