<ng-container *ngIf="transactions">
  <div class="list-group border-0 mb-3"
       *ngIf="transactions.length > 0; else noTransactions">
    <a class="list-group-item list-group-item-secondary list-group-item-action border-0"
       *ngFor="let transaction of transactions" [routerLink]="['/transaction', transaction.id]">
      <div class="d-flex justify-content-between w-100">
        <h5 class="mb-1">
          {{ transaction.card.issuedBy.name }}
          <ng-container *ngIf="isPositive(transaction.amount); else notPositive">
            <i class="bi-arrow-down-right text-success"></i>
          </ng-container>
          <ng-template #notPositive>
            <i class="bi-arrow-up-left text-danger"></i>
          </ng-template>
        </h5>
        <div>
            <span [class.text-success]="isPositive(transaction.amount)"
                  [class.text-danger]="!isPositive(transaction.amount)">{{ addPlusSign(transaction.amount) }}{{ transaction.amount | number }}
              pts</span>
        </div>
      </div>
      <small class="text-body-secondary">{{ transaction.createdOn | date: "MMM dd, yyyy '–' h:mm a" }}</small>
    </a>
    <a class="list-group-item list-group-item-secondary list-group-item-action border-0 text-center"
       routerLink="/transactions" *ngIf="displaySeeAll">
      <span class="fw-bold">See All</span>
    </a>
  </div>

  <ng-template #noTransactions>
    <div class="card border border-3 border-light-subtle mb-3">
      <div class="card-body text-center">
        <img src="assets/images/mobile-pay.svg" class="h-25 w-25 m-3" alt="No Data">
        <span class="d-block text-secondary mb-3">No transactions here</span>
      </div>
    </div>
  </ng-template>
</ng-container>
