<div class="container h-100 d-flex flex-column justify-content-between justify-content-md-start">
    <div>
        <h1>Claim Receipt</h1>
        <p>
            Click on the Claim button to claim your receipt.
        </p>
    </div>
    <div>
        <s-app-receipt [invoice]="invoice"></s-app-receipt>
        <p>
            You will earn <strong>{{ invoice.eligiblePoints | number }} pts</strong> from claiming this receipt.
        </p>
    </div>
    <div class="mb-3 text-center">
        <div class="d-grid mb-1">
            <button type="button" class="btn btn-success border-0" (click)="onClaim()" [disabled]="!locationData">
                <ng-container *ngIf="locationData; else noLocationData">
                    Claim
                </ng-container>
                <ng-template #noLocationData>
                    Processing...
                </ng-template>
            </button>
        </div>
        <small class="text-muted">
            Your location data is kept private and will not shared.
        </small>
    </div>
</div>
