<div class="container h-100 d-flex flex-column justify-content-between justify-content-md-start" *ngIf="invoice">
  <div>
    <div class="d-flex align-items-center justify-content-between mb-2" routerLink="/">
      <h1 class="mb-0">Claim Receipt</h1>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <p>
      Click on the Claim button to claim your receipt.
    </p>
  </div>
  <div>
    <s-app-receipt [invoice]="invoice"></s-app-receipt>
    <p>
      You will earn <span class="fw-bold">{{ invoice.eligiblePoints | number }} pts</span> from claiming this receipt.
    </p>
  </div>
  <div class="mb-3 text-center">
    <div class="d-grid mb-1">
      <button type="button" class="btn btn-success border-0" (click)="onSubmit()" [disabled]="!locationData && isWaiting">
        <ng-container *ngIf="locationData || !isWaiting; else noLocationData">
          Claim
        </ng-container>
        <ng-template #noLocationData>
          Processing...
        </ng-template>
      </button>
    </div>
  </div>
</div>
