<div class="d-flex align-items-center justify-content-center h-100">
  <div class="container flex-md-grow-0 flex-fill w-25">
    <h1 class="text-dark">Scan to Save</h1>
    <div class="card border-0 mb-3">
      <div class="card-body">
        <p>
          Scan this QR code to save your receipt to Zapit.
        </p>
        <div>
          <qrcode *ngIf="!isClaimed; else successfullyClaimed" [qrdata]="qrCodeData" [width]="256"
                  cssClass="mb-3 text-center"></qrcode>
        </div>
        <p class="mb-0">
          Don't have Zapit? You will be directed to create an account.
        </p>
      </div>
    </div>
    <small class="text-dark">Saving this e-receipt helps to reduce paper usage.</small>
  </div>
</div>

<ng-template #successfullyClaimed>
  <div class="rounded text-bg-light d-flex flex-column align-items-center justify-content-center mx-auto mb-3"
       style="height: 256px; width: 256px;">
    <i class="bi-check-circle text-success fs-1"></i>
    <span>Claimed</span>
  </div>
</ng-template>
