<div class="container">
  <h1>Merchant</h1>
  <h2>Invoices</h2>
  <div class="list-group border-0 mb-3">
    <a class="list-group-item list-group-item-secondary list-group-item-action border-0 d-flex align-items-center gap-3" routerLink="invoices">
      <i class="bi-view-stacked fs-4"></i>
      <span>Manage Invoices</span>
    </a>
    <a class="list-group-item list-group-item-secondary list-group-item-action border-0 d-flex align-items-center gap-3" routerLink="invoice/new">
      <i class="bi-plus-circle fs-4"></i>
      <span>New Invoice</span>
    </a>
  </div>
  <h2>Cards</h2>
  <div class="list-group border-0 mb-3">
    <a class="list-group-item list-group-item-secondary list-group-item-action border-0 d-flex align-items-center gap-3" routerLink="cards">
      <i class="bi-view-stacked fs-4"></i>
      <span>Manage Cards</span>
    </a>
  </div>
  <h2>Transactions</h2>
  <div class="list-group border-0 mb-3">
    <a class="list-group-item list-group-item-secondary list-group-item-action border-0 d-flex align-items-center gap-3" routerLink="trnsactions">
      <i class="bi-view-stacked fs-4"></i>
      <span>Manage Transactions</span>
    </a>
  </div>
</div>
