<div class="card mb-3 mono text-bg-light border-0" *ngIf="invoice">
  <div class="card-body">
    <div class="text-center">
      <span class="d-block"><strong>{{ invoice.issuedBy?.name || "MERCHANT NAME" | uppercase }}</strong></span>
      <span class="d-block">{{ invoice.issuedBy?.address || "Address" }}</span>
      <span class="d-block">{{ invoice.issuedBy?.postCode || "Post Code" }}</span>
    </div>
    <hr class="border border-dark-subtle">
    <div>
      <span class="d-block">Receipt No.: {{ invoice.identifier || "Identifier" }}</span>
      <span class="d-block">Date: {{ invoice.createdOn || 0 | date: "medium" }}</span>
    </div>
    <hr class="border border-dark-subtle">
    <div *ngIf="invoice.invoiceItems && invoice.invoiceItems.length > 0; else noInvoiceItems">
      <div *ngFor="let item of invoice.invoiceItems">
        <span class="d-block" *ngIf="item.identifier">{{ item.identifier || "Identifier" }}</span>
        <div class="d-flex justify-content-between">
          <span class="d-block">{{ item.quantity || 0 }} {{ item.name || "Name" }}
            @ {{ item.unitPrice || 0 | currency }}</span>
          <span class="d-block">{{ item.unitPrice * item.quantity || 0 | currency }}</span>
        </div>
      </div>
    </div>
    <hr class="border border-dark-subtle">
    <div>
      <div class="d-flex justify-content-between" *ngIf="invoice.salesTax != 0">
        <span class="d-block">Incl. Sales Tax ({{ invoice.salesTax || 0 | percent }})</span>
        <span class="d-block">{{ calculateSalesTaxAmount() || 0 | currency }}</span>
      </div>
      <div class="d-flex justify-content-between" *ngIf="invoice.additionalCharges != 0">
        <span class="d-block">Misc. Charges</span>
        <span class="d-block">{{ invoice.additionalCharges || 0 | currency }}</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="d-block">TOTAL</span>
        <span class="d-block">{{ invoice.total || 0 | currency }}</span>
      </div>
    </div>
  </div>
</div>

<ng-template #noInvoiceItems>
  No Items in Receipt
</ng-template>
